<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>682535963292-tq2q731f4jjhlqsangmjrfq0do588ehl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682535963292-tq2q731f4jjhlqsangmjrfq0do588ehl</string>
	<key>API_KEY</key>
	<string>AIzaSyAJjN0bjF-XD1TUUBHvYstXWdhl3yuODy0</string>
	<key>GCM_SENDER_ID</key>
	<string>682535963292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dycode.DyMovies</string>
	<key>PROJECT_ID</key>
	<string>dymovies-da44f</string>
	<key>STORAGE_BUCKET</key>
	<string>dymovies-da44f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682535963292:ios:e73a80b6f7f698b3</string>
	<key>DATABASE_URL</key>
	<string>https://dymovies-da44f.firebaseio.com</string>
</dict>
</plist>